.badge {
  padding: 1px 7px 3px 7px;
}
.sia-main-app .dashboard .widget-user-2 .widget-user-header .widget-user-image i {
  width: 32px;
  height: auto;
  float: left;
  font-size: 32px;
  line-height: 40px;
}
.sia-main-app .dashboard .widget-user-2 .widget-user-header .widget-user-username {
  margin-left: 50px;
}
.sia-main-app .dashboard .widget-user-2 .widget-user-header .widget-user-desc {
  display: none;
}
.sia-main-app .status-legend-wrapper {
  top: 20px;
  position: relative;
  padding: 5px;
  background: whitesmoke;
  font-size: smaller;
  border: 1px solid #e4e4e4;
}
.sia-main-app .status-legend-wrapper .status-legend {
  margin-right: 20px;
}
.sia-main-app .status-management-wrapper .table {
  table-layout: fixed;
}
.sia-main-app .status-management-wrapper .table th,
.sia-main-app .status-management-wrapper .table td {
  text-align: center;
}
.sia-main-app .status-management-wrapper .table td i:hover {
  cursor: pointer;
}
.sia-main-app .status-management-wrapper .table td .fa-info-circle {
  position: relative;
  top: 3px;
}
.sia-main-app .status-management-wrapper .table td .fa-info-circle:hover {
  cursor: default;
}
.sia-main-app .status-management-wrapper .table.project-status td:nth-of-type(1) {
  width: 75px;
}
.sia-main-app .status-management-wrapper .table.project-status td:nth-of-type(2) {
  min-width: 130px;
}
.sia-main-app .status-management-wrapper .tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.sia-main-app .status-management-wrapper .tooltip-table {
  table-layout: fixed;
  background: transparent;
}
.sia-main-app .status-management-wrapper .tooltip-table th,
.sia-main-app .status-management-wrapper .tooltip-table td {
  text-align: left;
}
.sia-main-app .status-management-wrapper .tooltip-table tr:last-child td {
  border: 0;
}
.sia-main-app .status-management-wrapper .tooltip-table td.hide-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sia-main-app .site-settings-management-view .form-group.site-setting-value-label {
  margin-bottom: 0;
}
.sia-main-app .reports-management-view .report-download {
  padding: 0 5px;
}
.sia-main-app .reports-management-view .table {
  table-layout: fixed;
}
.sia-main-app .reports-management-view .table > thead > tr > th {
  border-bottom: 2px solid #f4f4f4;
}
.sia-main-app .reports-management-view .table .table {
  background-color: transparent;
}
.sia-main-app .reports-management-view .table.no-padding > tbody > tr > td {
  padding: 0;
}
.sia-main-app .reports-management-view .table-striped .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebe5cd;
}
.sia-main-app .reports-management-view table.no-tbody-border > tbody > tr > td {
  border: 0;
}
.sia-main-app .reports-management-view div.Volunteer-Assignment {
  border-top: 3px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.sia-main-app .reports-management-view div.Volunteer-Assignment:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.sia-main-app .reports-management-view div.Volunteer-Assignment .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebe5cd;
}
.sia-main-app .reports-management-view table.Volunteer-Headers {
  margin-bottom: 0;
}
.sia-main-app .reports-management-view h4.Assigned-Volunteers {
  margin: 0;
}
.sia-main-app .reports-management-view .Name,
.sia-main-app .reports-management-view .Full-Name {
  width: 150px;
}
.sia-main-app .reports-management-view .Contact-Phone {
  width: 130px;
}
.sia-main-app .reports-management-view .Site-Name {
  width: 200px;
}
.sia-main-app .reports-management-view .Proj-Num {
  width: 75px;
}
.sia-main-app .reports-management-view .Est-Cost {
  width: 75px;
}
.sia-main-app .reports-management-view .Volunteers-Needed-Est {
  width: 75px;
}
.sia-main-app .reports-management-view .Budget-Sources {
  width: 75px;
}
.sia-main-app .reports-management-view .Budget-Allocate {
  width: 75px;
}
.sia-main-app .reports-management-view .Estimator-Project-Contact {
  width: 125px;
}
.sia-main-app .reports-management-view .Status {
  width: 100px;
}
.sia-main-app .reports-management-view .StatusReason {
  width: 150px;
}
.sia-main-app .reports-management-view .Role {
  width: 115px;
}
.sia-main-app .reports-management-view .Email {
  width: 225px;
}
.sia-main-app .reports-management-view .Age-Range {
  width: 100px;
}
.sia-main-app .site-management-selects {
  width: 200px;
}
.sia-main-app #site_years {
  width: 100px;
}
.sia-main-app .projects-grid-manager-container,
.sia-main-app .site-volunteers-grid-manager-container {
  padding: 20px 15px 0 15px;
}
.sia-main-app .projects-backgrid-wrapper {
  border: 0px solid #ddd;
}
.sia-main-app .grid-manager-container {
  width: 100%;
}
.sia-main-app .grid-manager-container button {
  margin-right: 5px;
}
.sia-main-app .grid-manager-container .columnmanager-visibilitycontrol-container {
  display: inline-block;
}
.sia-main-app .grid-manager-container .columnmanager-visibilitycontrol {
  display: inline-block;
}
.sia-main-app .well-title {
  margin-top: 0px;
  font-size: 18px;
}
.sia-main-app .nested-box {
  margin: 5px;
  padding: 0;
}
.sia-main-app .site-projects-tabs .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding-top: 1px;
  background-color: white;
}
.sia-main-app .site-projects-tabs .box-footer {
  background-color: transparent;
}
.backgrid-wrapper {
  display: block;
  position: relative;
  border: 0px solid #ddd;
  overflow: auto;
  width: 100%;
  background-color: white;
  padding: 0;
}
.backgrid-wrapper .backgrid {
  table-layout: fixed;
}
.backgrid-wrapper .backgrid thead th {
  border: 1px solid #ddd;
}
.backgrid-wrapper .backgrid thead th:nth-child(2) button::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\F06E";
}
.backgrid-wrapper .backgrid thead th:nth-child(3).HasAttachments button::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\F0C6";
}
.backgrid-wrapper .backgrid tbody tr {
  background-color: inherit;
}
.backgrid-wrapper .backgrid tbody tr:hover {
  background-color: lightyellow;
}
.cloned-backgrid-table-wrapper {
  position: absolute;
  top: 1px;
  left: 15px;
  overflow: hidden;
  background: transparent;
  padding-right: 20px;
}
.cloned-backgrid-table-wrapper .cloned-backgrid-table {
  position: absolute;
  table-layout: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: white;
  border-radius: 0;
  -webkit-box-shadow: 2px 0px 2px 0px #00000082;
          box-shadow: 2px 0px 2px 0px #00000082;
}
.annualbudgets-management-view .backgrid thead th:nth-child(2) button::before {
  content: '';
}
.annual-budget-total-wrapper {
  width: 256px;
  text-align: right;
}
.annual-budget-total-wrapper strong {
  padding-right: 20px;
}
.annual-budget-view-contols {
  margin-left: 40px;
  display: inline-block;
}
.annual-budget-woodlands-total-wrapper {
  float: right;
  width: 400px;
  text-align: right;
}
.annual-budget-woodlands-total-wrapper strong {
  padding-right: 20px;
}
textarea#AttachmentPath {
  white-space: pre;
  min-height: 200px;
}
.columnmanager-dropdown-container {
  width: 400px !important;
  overflow-y: auto !important;
}
.backgrid-paginator ul {
  margin: 0;
}
.ajax-spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 50px;
  height: 50px;
  background: rgba(23, 23, 23, 0.51) none repeat scroll 0% 0%;
}
body.modal-open .wrapper {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.file_progress {
  position: relative;
  display: inline-block;
  margin: 2px 0 0 0;
  padding: 0;
  width: 99%;
  height: 16px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
}
.file_progress .meter {
  position: absolute;
  min-width: 1%;
  height: 100%;
}
html.ie8 .file_progress .meter {
  border-radius: 6px;
}
.file_progress .meter.green {
  background: #2ecc71;
}
.file_progress .meter .percent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 8px;
  color: white;
  white-space: nowrap;
}
html.ie8 .file_progress .meter .percent {
  top: -2px;
  left: 25%;
}
.file-upload-container {
  display: inline-block;
  position: absolute;
  width: 450px;
  height: 22px;
  overflow: visible;
}
div.file-upload {
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  margin-right: 0.25rem;
}
div.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
span.file_chosen {
  line-height: 2;
  display: inline-block;
  font-size: 9px;
  color: darkolivegreen;
}
.file_progress {
  opacity: 0;
}
#floatingCirclesG {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
}
.f_circleG {
  position: absolute;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  animation-name: f_fadeG;
  -o-animation-name: f_fadeG;
  -ms-animation-name: f_fadeG;
  -webkit-animation-name: f_fadeG;
  -moz-animation-name: f_fadeG;
  animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
#frotateG_01 {
  left: 0;
  top: 51px;
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}
#frotateG_02 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}
#frotateG_03 {
  left: 51px;
  top: 0;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#frotateG_04 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
#frotateG_05 {
  right: 0;
  top: 51px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
#frotateG_06 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
#frotateG_07 {
  left: 51px;
  bottom: 0;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
#frotateG_08 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
@keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
.navbar-static-top {
  /* The image used */
  background-image: url("/images/sia-grass.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgrid-filter.form-search {
  position: relative;
  height: 34px;
}
/*
  Search Icon
*/
.backgrid-filter .search {
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 1000;
  width: 10px;
  height: 20px;
  margin-top: -10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.backgrid-filter .search:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: -6px;
  background: transparent;
  border: 3px solid gray;
  border-radius: 12px;
  content: "";
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.backgrid-filter .search:after {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 3px;
  height: 7px;
  margin-top: 2px;
  background-color: gray;
  content: "";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/*
  Clear button
 */
.backgrid-filter .clear {
  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 1000;
  width: 10px;
  height: 20px;
  margin-top: -10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: gray;
  text-decoration: none;
}
.backgrid-filter input[type="search"] {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 5px 18px 5px 22px;
  font-weight: normal;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
}
/*
  Normalize the search input box, with code borrowed from normalize.css.

  https://github.com/necolas/normalize.css/

  Copyright (c) Nicolas Gallagher and Jonathan Neal, MIT @license.
 */
/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
 */
.backgrid-filter input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
}
/*
 * Re-set default cursor for disabled elements.
 */
.backgrid-filter input[disabled] {
  cursor: default;
}
/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
.backgrid-filter input[type="search"] {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
/*
 * Remove the default clear button on IE
 */
.backgrid-filter input[type="search"]::-ms-clear {
  display: none;
}
/*
 * Remove the default clear button on WebKit browsers
 */
.backgrid-filter input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.backgrid-filter input[type="search"] {
  padding-right: 18px;
  padding-left: 22px;
}
